.main-title {
    color: brown;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    border: 2px solid red;
    justify-content: center;
}

.ingredients {
    border: 2px solid blue;
    min-width: 45%;
    justify-content: center;
}

.recipes {
    border: 2px solid green;
    min-width: 45%;
    justify-content: center;
}

.ing-list {
    border: 2px dashed;
    justify-content: flex-start;
}

ul > li {
    list-style-type: none;
}